# SPDX-License-Identifier: Apache-2.0
# Copyright 2026 Vinver, Inc.

version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "ci"
