# SPDX-License-Identifier: Apache-2.0
# Copyright 2026 Vinver, Inc.

[meta]
id = "d-duino-32"
family = "d-duino-32"
description = "D-duino-32 (ESP32) with primary I2C on GPIO5/4 and primary SPI on GPIO13/12/14 (SS=GPIO15). No onboard LED/button/buzzer pins defined in provided header."
chip = "esp32"
flash_size = "4MB"
psram = false
tier = "volume"
manifest_version = "1.0"
min_runtime_version = "1.0"

[capabilities]
button = {pin = "system.button_pin", type = "button"}
dac1 = {pin = "system.dac1_pin", type = "dac"}
dac2 = {pin = "system.dac2_pin", type = "dac"}

[system]
led_pin = -1
button_pin = 0
dac1_pin = 25
dac2_pin = 26
reserved_pins = [6, 7, 8, 9, 10, 11]

[system.i2c]
sda = 5
scl = 4
freq = 400000

[system.spi]
mosi = 13
miso = 12
sck = 14

[system.uart]
tx = 1
rx = 3
baud = 115200
