# SPDX-License-Identifier: Apache-2.0
# Copyright 2026 Vinver, Inc.

[meta]
id = "espino32"
family = "espino32"
description = "ESPino32 ESP32 dev board with built-in LED on GPIO16, boot/user key on GPIO0, and standard I2C (21/22) + SPI (23/19/18, SS=5) pinout."
chip = "esp32"
flash_size = "4MB"
psram = false
tier = "volume"
manifest_version = "1.0"
min_runtime_version = "1.0"

[capabilities]
led = {pin = "system.led_pin", type = "led"}
button = {pin = "system.button_pin", type = "button"}
dac1 = {pin = "system.dac1_pin", type = "dac"}
dac2 = {pin = "system.dac2_pin", type = "dac"}

[system]
led_pin = 16
button_pin = 0
dac1_pin = 25
dac2_pin = 26
reserved_pins = [6, 7, 8, 9, 10, 11]

[system.i2c]
sda = 21
scl = 22
freq = 400000

[system.spi]
mosi = 23
miso = 19
sck = 18

[system.uart]
tx = 1
rx = 3
baud = 115200
