# SPDX-License-Identifier: Apache-2.0
# Copyright 2026 Vinver, Inc.

[meta]
id = "hornbill32dev"
family = "hornbill32dev"
description = "ESP32 development board with built-in LED on GPIO13, BOOT/KEY button on GPIO0, default I2C on GPIO21/22, and default VSPI pins (SCK=18, MISO=19, MOSI=23, CS=5)."
chip = "esp32"
flash_size = "4MB"
psram = false
tier = "volume"
manifest_version = "1.0"
min_runtime_version = "1.0"

[capabilities]
led = {pin = "system.led_pin", type = "led"}
button = {pin = "system.button_pin", type = "button"}
dac1 = {pin = "system.dac1_pin", type = "dac"}
dac2 = {pin = "system.dac2_pin", type = "dac"}

[system]
led_pin = 13
button_pin = 0
dac1_pin = 25
dac2_pin = 26
reserved_pins = [6, 7, 8, 9, 10, 11]

[system.i2c]
sda = 21
scl = 22
freq = 400000

[system.spi]
mosi = 23
miso = 19
sck = 18

[system.uart]
tx = 1
rx = 3
baud = 115200
