# SPDX-License-Identifier: Apache-2.0
# Copyright 2026 Vinver, Inc.

[meta]
id = "ttgo-t7-v14-mini32"
family = "ttgo_t7"
description = "TTGO T7 v1.4 Mini32 ESP32 dev board with single user LED and standard I2C/SPI pinout; no dedicated peripherals defined in pins_arduino.h."
chip = "esp32"
flash_size = "4MB"
psram = false
tier = "volume"
manifest_version = "1.0"
min_runtime_version = "1.0"

[capabilities]
led = {pin = "system.led_pin", type = "led"}
button = {pin = "system.button_pin", type = "button"}
dac1 = {pin = "system.dac1_pin", type = "dac"}
dac2 = {pin = "system.dac2_pin", type = "dac"}

[system]
led_pin = 19
button_pin = 0
dac1_pin = 25
dac2_pin = 26
reserved_pins = [6, 7, 8, 9, 10, 11]

[system.i2c]
sda = 21
scl = 22
freq = 400000

[system.spi]
mosi = 23
miso = 19
sck = 18

[system.uart]
tx = 1
rx = 3
baud = 115200
