# SPDX-License-Identifier: Apache-2.0
# Copyright 2026 Vinver, Inc.

[meta]
id = "um_tinypico"
family = "um_tinypico"
description = "TinyPICO (ESP32) with primary I2C on GPIO21/22, primary SPI on GPIO23/19/18 and onboard APA102/DotStar RGB LED (data/clk plus power control)."
chip = "esp32"
flash_size = "4MB"
psram = false
tier = "volume"
manifest_version = "1.0"
min_runtime_version = "1.0"

[capabilities]
button = {pin = "system.button_pin", type = "button"}
dac1 = {pin = "system.dac1_pin", type = "dac"}
dac2 = {pin = "system.dac2_pin", type = "dac"}
apa102_rgb_led = {driver = "custom.apa102_rgb_led", type = "custom"}

[system]
led_pin = -1
button_pin = 0
dac1_pin = 25
dac2_pin = 26
reserved_pins = [6, 7, 8, 9, 10, 11]

[system.i2c]
sda = 21
scl = 22
freq = 400000

[system.spi]
mosi = 23
miso = 19
sck = 18

[system.uart]
tx = 1
rx = 3
baud = 115200

["custom.apa102_rgb_led"]
type = "apa102_dotstar"
clk = 12
data = 2
power = 13
