# SPDX-License-Identifier: Apache-2.0
# Copyright 2026 Vinver, Inc.

name: CLA Assistant

on:
  issue_comment:
    types: [created]
  pull_request_target:
    types: [opened, synchronize, reopened]

permissions:
  actions: write
  contents: read
  pull-requests: write
  statuses: write

jobs:
  cla:
    runs-on: ubuntu-latest
    if: |
      (github.event_name == 'pull_request_target') ||
      (github.event_name == 'issue_comment' && github.event.comment.body == 'recheck')
    steps:
      - name: CLA Assistant
        uses: contributor-assistant/github-action@ca4a40a7d1004f18d9960b404b97e5f30a505a08 # v2.6.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PERSONAL_ACCESS_TOKEN: ${{ secrets.CLA_ASSISTANT_PAT }}
        with:
          path-to-signatures: "CLA-SIGNATURES.json"
          path-to-document: "https://github.com/${{ github.repository }}/blob/main/CLA-INDIVIDUAL.md"
          branch: "main"
          allowlist: "dependabot[bot],renovate[bot],github-actions[bot]"
          custom-notsigned-prcomment: >
            Thank you for your contribution! Before we can merge this PR, you
            need to sign our [Contributor License Agreement](https://github.com/${{ github.repository }}/blob/main/CLA-INDIVIDUAL.md).

            To sign, please comment on this PR with:

            > I have read the CLA Document and I hereby sign the CLA.

            If you are contributing on behalf of a corporation, please have your
            company execute the [Corporate CLA](https://github.com/${{ github.repository }}/blob/main/CLA-CORPORATE.md)
            by emailing a signed copy to legal@vinver.ai.
          custom-pr-sign-comment: "I have read the CLA Document and I hereby sign the CLA."
          custom-allsigned-prcomment: "All contributors have signed the CLA."
